body{
	padding-top:70px;
	padding-bottom:30px;
}

.main-container{
	/*text-align:center;*/
}

.main-container label{
	width:100%;
}

.player-hr{
	display:none;
}

.player-col{
	border:1px solid black;
	padding:15px;
}

.input-row{
	margin-top:20px;
}

@media(max-width:992px){
	.player-hr{
		display:block;
		margin:50px auto;
	}
}